/* ==========================================================================
   NAV.CSS
   Header + mobile nav toggle
   ========================================================================== */

/* ===== STICKY MENU ===== */
.stickymenu {
    display: flex;
    margin-top: 25vh;
    margin-bottom: 25vh;
    flex-direction: column;
    align-self: center;
}

/* ===== RESPONSIVE NAVIGATION ===== */

/* Small breakpoint (max-width: 820px) */
@media screen and (max-width: 820px) {
    .stickymenu {
        width: 100%;
        margin-top: 0vh;
        margin-bottom: 10vh;
    }
}

/* Tiny breakpoint (max-width: 420px) */
@media screen and (max-width: 420px) {
    .stickymenu {
        align-self: flex-start;
    }
}

